.container-aboutus {
    height: 68vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-title {
    font-size: 31px;
    margin: 40px 0;
    color: gray;
    border-bottom: 3px gray solid;
    width: max-content;
}
.about-version{
    margin-bottom: 15px;
    font-weight: bold;
}
.about-hope{
    margin-bottom: 15px;
    font-weight: bold;
}