 * {
     margin: 0;
 }

 .container-signin {
     height: calc(100vh - 270px);
     display: flex;
     flex-direction: column;
     justify-content: start;
     align-items: center;
     padding: 30px 0;

 }

 .signin-wrapper-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 10px;
 }

 .signin-wrapper-container h2 {
     font-size: 25px;
     font-weight: 700;
     color: teal;
     margin-bottom: 15px;

 }

 .form-signin {

     width: 320px;
     display: flex;
     flex-direction: column;
     /* align-items: start;
     justify-content: start; */
     position: relative;

 }

 .form-signin input {
     height: 50px;
     width: 100%;
     border: 2px solid teal;
     padding: 8px;
     margin-bottom: 15px;
     font-size: 15px;
     font-weight: 600;
 }

 .show-passed-icon {
     position: absolute;
     right: 9px;
     top: 79px;
     color: teal;
     cursor: pointer;
 }
 .hide-passed-icon {
    position: absolute;
    right: 9px;
    top: 79px;
    color: teal;
    cursor: pointer;
}

 .login-btn {
     width: 100%;
     background-color: var(--primary-color);
     color: white;
     padding: 8px;
     border: none;
     height: 45px;
     font-weight: 700;
     font-size: 20px;
     margin-bottom: 15px;
     cursor: pointer;

 }

 .signin-footer-form {
     font-weight: bold;
 }