.footer-container {
    background-color: var(--primary-color);
    color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    width: 100%;
    font-size: 20px;
   

}

.footer-socialmedia {
    width: 100%;
    display: flex;
    align-items: center;
    height: 20%;
    justify-content: space-around;
    border-bottom: 1px solid var(--main-color);
    padding: 20px 0px;
}

.footer-socialmedia-title {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 20px 0px;
    font-weight: 600;
    text-transform: lowercase;

}

.footer-socialmedia-icons {
    display: flex;
    width: 30%;
    justify-content: space-around;
    cursor: pointer;
    padding-bottom: 20px 0px;


}

.footer-socialmedia-icons i {
    background-color: var(--main-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

}

.footer-wrapper {
    width: 100%;
    height: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper-item {
    width: 25%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 0;
   
    
}
.footer-wrapper-item h5{
    text-align: left;
}
.footer-item-title {
    font-weight: bold;
    border-bottom: 3px solid var(--main-color);
    width: max-content;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.footer-wrapper-links{
    display: flex;
    flex-direction: column;
}
.footer-wrapper-lin {
    margin: 2px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: var(--main-color);
}

.footer-wrapper-links-icon {
    padding-top: 10px;
}

.footer-wrapper-links-icon i {
    margin-left: 5px;
}

.footer-wrapper-links-icon label {
    margin-right: 5px;
}

.footer-wrapper-links {
    font-size: 15px;
    padding-top: 10px;
}

/* mediaQuery */
@media (max-width: 550px) {



    .footer-wrapper {
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: space-around;

    }

    .footer-socialmedia {
        flex-direction: column;

    }

    .footer-socialmedia-title {
        margin-bottom: 20px;

    }

    .footer-socialmedia-icon {
        margin: 20px;
    }

    .footer-wrapper-item {
        align-items: center;
        width: 100%;
    }

    .footer-item-title {
        font-size: 30px;
    }

    .footer-socialmedia-icons {
        width: 80%;

    }

    .footer-wrapper-item {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }




}