.slider-container {
    height: calc(100vh - 300px);
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;

}

.slider-wrapper {
    height: calc(100vh - 300px);
    display: flex;
    transition: all 1s ease;

}

.slide {
    height: calc(100vh - 300px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first-slide {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.second-slide {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.third-slide {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.slide-img-wrapper {
    width: 50%;
    height: 90%;
}

.slide-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slide-info-wrapper {
    width: 50%;
}

.slide-info-title {
    font-size: 30px;
}

.slide-info-desc {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}

.arrow-right,
.arrow-left {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 110, .5);
    border-radius: 50%;
    color: var(--main-color);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    z-index: 2;
    font-size: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    padding: 2px 5px;
}


.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

/* media queries */
@media (max-width:720px) {
    .slide-info-title {
        font-size: 25px;
    }

    .slide-info-desc {
        font-size: 10px;
    }

    .slide-img-wrapper {
        width: 30vw;
    }



}

@media (max-width:650px) {
    .slide {
        flex-direction: column;
        padding-bottom: 20px;

    }


    .slide-info-title {
        font-size: 20px;
        width: 100%;
    }

    .slide-info-desc {
        font-size: 15px;
        width: 100%;

    }

    .slide-img-wrapper {
        width: 30vw;
    }

}

@media (max-width:350px) {
    .slide-info-title {
        font-size: 15px;
    }

    .slide-info-desc {
        font-size: 8px;
    }

    .slide-img-wrapper {
        width: 30vw;
    }


}

@media (max-width:300px) {
    .slider-container {
        display: none;
    }
}